[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudpickle = "~=2.2.0"
loguru = "~=0.6.0"
ray = "~=2.0.0"
numpy = "~=1.23.3"
pandas = "~=1.5.0"
pyarrow = "~=6.0.1"
pytz

[dev-packages]
black = "*"

[requires]
python_version = "3.8.10"

[pipenv]
allow_prereleases = true
